# Auto detect text files and perform LF normalization
* text=auto
LuminousRealmGames/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs  longpaths=true -text
